* {
  box-sizing: border-box;
  overflow: hidden;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  padding: 1ex;
  padding-bottom: 0;
}

main {
  flex-grow: 1;
}

main {
  display: flex;
  flex-direction: row;
  gap: 1ex;
}

main > form {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  background: white;
  padding: 1ex;
}

main > form {
  display: flex;
  flex-direction: column;
}

main > form textarea {
  flex-grow: 1;
}